.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }

  .list-social__item i {
    font-size: 1.8rem;  /* Smaller size for mobile */
    text-decoration: none;
  }
}

.list-social__link:hover {
  color:  var(--color-secondary-button)                     /* Fade to white on hover */
}

.list-social__link {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in;   /* Slower fade with 'ease-in' effect */
  align-items: center;
  display: flex;
  padding: 1.1rem;
  /* color: rgb(var(--color-foreground)); */
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
